body {
  font-family: sans-serif;
  margin: 0;
}

.ui-container {
  box-sizing: border-box;
  margin-inline: auto;
  padding-inline: 1rem;
  width: min(50rem, 100%);
}

.baseLayout-headerOuter {
  background-color: #036;
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

.baseLayout-headerInner {
  display: flex;
  justify-content: space-between;
}

.baseLayout-headerLink {
  color: inherit;
  text-decoration: none;
}
  .baseLayout-headerLink:hover {
    text-decoration: underline;
  }

.baseLayout-siteTitle {
  font-family: monospace;
}

.baseLayout-body {
  min-height: 50vh;
}

.baseLayout-titleGroup {
  margin: 3rem 0;
}

h1.baseLayout-title {
  line-height: 1.2;
  margin: 0;
}

.baseLayout-metaLine {
  display: flex;
  font-size: 0.8rem;
  gap: 0.5em;
}
  .baseLayout-metaLine > * + *::before {
    content: "|";
    color: darkgray;
  }

.baseLayout-toc {
  border: thin solid #036;
  font-size: 0.8rem;
  padding: 1rem;
}
  /* https://github.com/jdsteinbach/eleventy-plugin-toc */
  .baseLayout-toc ol {
    margin: 0;
    padding: 0 0 0 1rem;
  }
  .baseLayout-toc ol ol {
    padding-left: 1.5rem;;
  }

.baseLayout-body h1 {
  font-size: 5em;
}

.baseLayout-body h2 {
  border-radius: 0.2em;
  border: thin solid lightgray;
  box-shadow: 0 0 0.5em #0001;
  font-size: 2rem;
  margin-block: 3em 1em;
  padding: 0 0.5em;
}

.baseLayout-body h3 {
  font-size: 1.5rem;
  margin-block: 3em 1em;
}
  .baseLayout-body h3::before {
    background-image: url("./icon-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.917em;
    margin-inline-end: 0.2em;
    vertical-align: middle;
    width: 1.917em;
  }

.baseLayout-body :is(h1,h2, h3) {
  font-family: 游明朝, serif;
}

.baseLayout-footer {
  border-top: thin dashed lightgray;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

pre {
  overflow: auto;
}

/* code without syntax highlight */
pre:not([class*="language-"]),
code:not([class*="language-"]) {
  background-color: #eee;
  border-radius: 0.2em;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

pre:not([class*="language-"]) {
  background-color: #272822;
  color: white;
  padding: 1rem;
}

pre:not([class*="language-"]) > code {
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #059;
}
  a:hover {
    color: #a00;
  }

/* https://github.com/valeriangalliat/markdown-it-anchor#header-link */
.header-anchor {
  color: inherit;
  text-decoration: none;
}
  .header-anchor:hover {
    text-decoration: underline;
  }
