body {
  margin: 0;
}

.ui-container {
  box-sizing: border-box;
  margin-inline: auto;
  padding-inline: 1rem;
  width: min(800px, 100%);
}

.baseLayout-headerOuter {
  background-color: #036;
  color: white;
}

.baseLayout-headerOuter a {
  color: inherit;
}

.baseLayout-body {
  min-height: 50vh;
}

.baseLayout-body h1 {
  font-size: 5em;
}

pre {
  overflow: auto;
}

/* code without syntax highlight */
pre:not([class*="language-"]),
code:not([class*="language-"]) {
  background-color: #eee;
  border-radius: 0.2em;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

pre:not([class*="language-"]) {
  background-color: #272822;
  color: white;
  padding: 1rem;
}

pre:not([class*="language-"]) > code {
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
}

img {
  max-width: 100%;
}

.baseLayout-footer {
  border-top: thin dashed lightgray;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
